<div class="text-center mb-4 logo"><span>S</span>
</div>
<%= render "devise/shared/error_messages", resource: resource %>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-signin" }) do |f| %>
<div class="form-label-group">
  <%= f.text_field :name, autofocus: true, autocomplete: "name",
      class: "form-control",
       placeholder: "ユーザーネーム", id: "inputName" %>
  <%= f.label :name , "ユーザーネーム" %>
</div>
<div class="form-label-group">
  <%= f.text_field :kana, autofocus: true, autocomplete: "kana",
      class: "form-control",
      placeholder: "フリガナ", id: "inputKana" %>
  <%= f.label :kana, "フリガナ" %>
</div>
<div class="form-label-group">
  <%= f.email_field :email, autofocus: true, autocomplete: "email",
      class: "form-control",
      placeholder: "emailアドレス", id: "inputEmail" %>
  <%= f.label :email, "emailアドレス" %>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>



<div class="form-label-group">
  <%= f.password_field :current_password, autocomplete: "current-password",
      class: "form-control",
      placeholder: "現在のパスワード", id: "inputPassword"   %>
  <%= f.label :password, "現在のパスワード" %>
</div>

<div class="form-label-group">
  <%= f.password_field :password, autocomplete: "new-password",
      class: "form-control",
      placeholder: "新しいパスワード", id: "inputPassword"  %>
  <%= f.label :password, "新しいパスワード(変更のみ入力・6文字以上)" %>
</div>

<div class="form-label-group">
  <%= f.password_field :password_confirmation, autocomplete: "new-password",
      class: "form-control",
      placeholder: "新しいパスワード・再入力", id: "inputPassword" %>
  <%= f.label :password_confirmation, "新しいパスワード・再入力" %>
</div>


<%= f.submit "ユーザー情報更新", class: "btn btn-lg btn-primary btn-block" %>


<% end %>


<div class="form-label-group form-signin">
  <small>ご満足いただけませんでしたか?</small> <%= link_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか? (TT)
    " }, method: :delete, class: "btn btn-lg btn-secondary btn-block" %>
  </p>
</div>
