<% @posts.each do |post| %>
<% if user_signed_in? && current_user.id == post.user_id %>
<%= link_to 'EDIT', edit_post_path(post), class: "post_btn" %>

<%= link_to 'DELETE', post_path(post), method: :delete, data: { confirm: '本当に削除してもよろしですか?' }, class: "post_btn" %>
<% end %>
投稿<b><%= Micropost.where(post_id: post.id).count %></b>件
<ul class="DivLink">
  <%= link_to '', post_microposts_path(post), class: :Link %>
  <li>
    <%= post.section %>
  </li>
  <li>
    <%= post.title %>
  </li>
  <li>
    <%= post.start_date%>
  </li>
  <li>
    <%= post.end_date%>
  </li>
  <li>
    <%= post.count_limit%>
  </li>
</ul>
<% end %>
