<% provide :title, "ログイン" %>

<div class='continer'>
  email:admin@example.com <br>
  password:password
</div>
<div class="text-center mb-4 logo"><span>S</span>
</div>

<%= render "devise/shared/error_messages", resource: resource %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name),
    html: {id: "form1", class: "form-signin"}) do |f| %>
<div class='form-label-group'>
  <%= f.email_field :email, autofocus: true, required: true,
      autocomplete: "email",class: "form-control", id: "inputEmail",
      placeholder: "Emailアドレス" %>
  <%= f.label :email, "Emailアドレス" %>
</div>

<div class="form-label-group">
  <%= f.password_field :password, required: true, autocomplete: "current-password",
      class: "form-control", id: "inputPassword",
      placeholder: "パスワード" %>
  <%= f.label :password, "パスワード" %>
</div>

<% if devise_mapping.rememberable? %>
<div class="checkbox mb-3">
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me, "記憶する" %>
</div>
<% end %>


<%= f.submit "ログイン", class: "btn btn-lg btn-primary btn-block" %>
<p class="mt-5 mb-3 text-muted text-center">&copy; 2020-05-20</p>
<% end %>
<hr class='continer mt-5'>
<%= render "devise/shared/links" %>
