    <h2>テーマ編集画面</h2>

    <%= form_with(model: @post, local: true, class: "form-signin") do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class=''>
      区分 :
      <% if @post.section.include? "ビ" %>
      <%= label_tag :business, "ビ", class: "section b"%>
      <%= check_box_tag :business, value = "ビ", checked: :true  %>
      <% else %>
      <%= label_tag :business, "ビ", class: "section b" %>
      <%= check_box_tag :business, value = "ビ" %>
      <% end %>

      <% if @post.section.include? "情" %>
      <%= label_tag :it, "情", class: "section j" %>
      <%= check_box_tag :it, value = "情", checked: :true %>
      <% else %>
      <%= label_tag :it, "情", class: "section j" %>
      <%= check_box_tag :it, value = "情" %>
      <% end %>

      <% if @post.section.include? "医" %>
      <%= label_tag :medical, "医", class: "section i" %>
      <%= check_box_tag :medical, value = "医", checked: :true  %>
      <% else %>
      <%= label_tag :medical, "医", class: "section i" %>
      <%= check_box_tag :medical, value = "医" %>
      <% end %>

      <% if @post.section.include? "公" %>
      <%= label_tag :government, "公", class: "section g" %>
      <%= check_box_tag :government, value = "公", checked: :true  %>
      <% else %>
      <%= label_tag :government, "公", class: "section g" %>
      <%= check_box_tag :government, value = "公" %>
      <% end %>

      <% if @post.section.include? 'イ' %>
      <%= label_tag :event, "イ", class: "section e" %>
      <%= check_box_tag :event, value = "イ", checked: :true  %>
      <% else %>
      <%= label_tag :event, "イ", class: "section e" %>
      <%= check_box_tag :event, value = "イ" %>
      <% end %>
    </div>
    <br>

    <%= f.label :title, "募集テーマ" %>
    <div class='form-label-group'>
      <%= f.text_field :title, placeholder: "募集したいテーマを入力してください", class: "form-control" %>
    </div>
    <%= f.label :start_date, "受付開始日" %>
    <div class="form-label-group">
      <%= f.date_field :start_date, value: Time.now.strftime("%Y-%m-%d"), class: "form-control" %>
    </div>
    <%= f.label :end_date, "投稿終了日" %>
    <div class="form-label-group">
      <%= f.date_field :end_date, class: "form-control" %>
    </div>
    <br>
    <%= f.submit "編集", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
